.HomePage {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.HomePage-headline {
  text-align: center;
  font-size: calc(10px + 5vmin);
}

.HomePage-li {
  line-height: 2em;
  display: flex;
}
.HomePage-li:hover {
  line-height: 2em;
  display: flex;
}

.HomePage-li a {
  color: white;
  text-decoration: none;
  transition: all 0.2s ease-in;
  min-width: 200px;
  width: 200px;
  text-transform: uppercase;
  transform-origin: left bottom;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.HomePage-li a:hover {
  color: wheat;
  font-size: 110%;
}

.HomePage-li div {
  text-overflow: ellipsis;
  white-space: nowrap;
}
.HomePage-list {
  margin: 0;
  padding: 0 0 0 10px;
  list-style: none;
  overflow-y: auto;
}

.HomePage-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  flex-direction: column;
}

.HomePage-form label {
  font-size: larger;
  flex-direction: column;
  margin-bottom: 10px;
}

.HomePage-form div {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}

@media (min-width: 405px) {
  .HomePage-form div {
    flex-direction: row;
    align-items: flex-end;
  }
}

.HomePage-form div > * {
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 100%;
}

.HomePage-form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid wheat;
  color: white;
  font-size: 1.5em;
  padding: 3px;
  max-width: 298px;
}

.HomePage-form input:focus {
  outline: none;
}

.HomePage-form button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 0;
  width: 100px;
  min-height: 1.5rem;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  text-transform: uppercase;
  max-width: 100px;
}

.HomePage-form button:hover:not(:disabled) {
  background-color: white;
  color: #282c34;
}

.HomePage-form button:disabled {
  color: black;
  border-color: black;
  cursor: not-allowed;
}

.HomePage-error {
  color: rgb(207, 73, 73);
  text-align: left;
  margin-top: 10px;
}
